@font-face {
  font-family: 'Ace Sans';
  src: url('AceSansBlack.eot');
  src: local('Ace Sans Black'), local('AceSansBlack'),
    url('AceSansBlack.eot?#iefix') format('embedded-opentype'),
    url('AceSansBlack.woff2') format('woff2'),
    url('AceSansBlack.woff') format('woff'),
    url('AceSansBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Ace Sans';
  src: url('AceSansBold.eot');
  src: local('Ace Sans Bold'), local('AceSansBold'),
    url('AceSansBold.eot?#iefix') format('embedded-opentype'),
    url('AceSansBold.woff2') format('woff2'),
    url('AceSansBold.woff') format('woff'),
    url('AceSansBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ace Sans';
  src: url('AceSansRegular.eot');
  src: local('Ace Sans'), local('AceSansRegular'),
    url('AceSansRegular.eot?#iefix') format('embedded-opentype'),
    url('AceSansRegular.woff2') format('woff2'),
    url('AceSansRegular.woff') format('woff'),
    url('AceSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ace Sans';
  src: url('AceSansExtralight.eot');
  src: local('Ace Sans Extralight'), local('AceSansExtralight'),
    url('AceSansExtralight.eot?#iefix') format('embedded-opentype'),
    url('AceSansExtralight.woff2') format('woff2'),
    url('AceSansExtralight.woff') format('woff'),
    url('AceSansExtralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Ace Sans';
  src: url('AceSansThin.eot');
  src: local('Ace Sans Thin'), local('AceSansThin'),
    url('AceSansThin.eot?#iefix') format('embedded-opentype'),
    url('AceSansThin.woff2') format('woff2'),
    url('AceSansThin.woff') format('woff'),
    url('AceSansThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Ace Sans';
  src: url('AceSansExtrabold.eot');
  src: local('Ace Sans Extrabold'), local('AceSansExtrabold'),
    url('AceSansExtrabold.eot?#iefix') format('embedded-opentype'),
    url('AceSansExtrabold.woff2') format('woff2'),
    url('AceSansExtrabold.woff') format('woff'),
    url('AceSansExtrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Ace Sans';
  src: url('AceSansMedium.eot');
  src: local('Ace Sans Medium'), local('AceSansMedium'),
    url('AceSansMedium.eot?#iefix') format('embedded-opentype'),
    url('AceSansMedium.woff2') format('woff2'),
    url('AceSansMedium.woff') format('woff'),
    url('AceSansMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ace Sans';
  src: url('AceSansLight.eot');
  src: local('Ace Sans Light'), local('AceSansLight'),
    url('AceSansLight.eot?#iefix') format('embedded-opentype'),
    url('AceSansLight.woff2') format('woff2'),
    url('AceSansLight.woff') format('woff'),
    url('AceSansLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
